<div class="p-4">
  <div class="d-flex flex-row justify-content-end">
    <%= link_to 'Add New Location', new_location_path, class: 'btn btn-outline-success mt-2' %>
  </div>
  <% if @locations.present? %>
    <h2 class="mt-4 mb-2 text-center text-uppercase">Locations</h2>
    <div class="table-container">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th scope="col">Sr.No</th>
          <th scope="col" class="small-th">Category</th>
          <th scope="col" class="small-th">Sub Category</th>
          <th scope="col" class="large-th">Name</th>
          <th scope="col" class="small-th">Country</th>
          <th scope="col" class="large-th">Address</th>
          <th scope="col" class="small-th">City</th>
          <th scope="col" class="small-th">Street</th>
          <th scope="col" class="small-th">Number</th>
          <th scope="col" class="small-th">Postal Code</th>
          <% location_data_attributes.each do |key, value| %>
            <th scope="col" class="large-th"><%= value %></th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% @locations.each_with_index do |location, index| %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= location.sub_category.category.name.titleize %></td>
            <td><%= location.sub_category.name.titleize %></td>
            <td><%= location.name %></td>
            <td><%= country_name(location.country) %></td>
            <td><%= location.address %></td>
            <td><%= location.city %></td>
            <td><%= location.street %></td>
            <td><%= location.number %></td>
            <td><%= location.postal_code %></td>
            <% location_data_attributes.each do |key, value| %>
              <td><%= location.data[key.to_s] %></td>
            <% end %>
            <td>
              <div class="dropdown">
                <i class="bi bi-three-dots-vertical" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></i>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><%= link_to 'Edit', edit_location_path(location), class: 'dropdown-item text-info' %></li>
                  <li><%= link_to 'Delete', location_path(location), class: 'dropdown-item text-danger', data: { turbo_method: :delete } %></li>
                </ul>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-end mt-4">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  <% else %>
    <h2 class="mt-4 mb-2 text-center text-uppercase">No location right now..</h2>
  <% end %>
</div>